# CONDITIONAL PROGRAMS

# Find largset of numbers

In [11]:
n1=int(input("enter first number"))
n2=int(input("enter second number"))
if n1>n2:
    largest=n1
else:
    largest=n2
print("The largest number is", largest)

enter first number50
enter second number100
The largest number is 100

In [13]:
n1=int(input("enter first number"))
n2=int(input("enter second number"))
if n1>n2:
    largest=n1
else:
    largest=n2
print("The largest number is", largest)

enter first number100
enter second number50
The largest number is 100

# Smallest of two number

In [12]:
n1=int(input("enter first number"))
n2=int(input("enter second number"))
if n1<n2:
    smallest=n1
else:
    smallest=n2
print("The smallest number is", smallest)

enter first number52
enter second number40
The smallest number is 40

In [14]:
n1=int(input("enter first number"))
n2=int(input("enter second number"))
if n1<n2:
    smallest=n1
else:
    smallest=n2
print("The smallest number is", smallest)

enter first number40
enter second number60
The smallest number is 40

# Largest of three numbers

In [4]:
#Find largest number from three numbers
n1=int(input("enter first number"))
n2=int(input("enter second number"))
n3=int(input("enter third number"))
if (n1>n2) and (n1>n3):
    largest=n1
elif(n2>n1) and (n2>n3):
    largest=n2
else:
    largest=n3
print("The largest number is", largest)

enter first number50
enter second number20
enter third number78
The largest number is 78

In [2]:
n1=int(input("enter first number"))
n2=int(input("enter second number"))
n3=int(input("enter third number"))
if (n1>n2) and (n1>n3):
    largest=n1
elif(n2>n1) and (n2>n3):
    largest=n2
else:
    largest=n3
print("The largest number is", largest)

enter first number20
enter second number78
enter third number10
The largest number is 78

In [3]:
n1=int(input("enter first number"))
n2=int(input("enter second number"))
n3=int(input("enter third number"))
if (n1>n2) and (n1>n3):
    largest=n1
elif(n2>n1) and (n2>n3):
    largest=n2
else:
    largest=n3
print("The largest number is", largest)

enter first number80
enter second number10
enter third number57
The largest number is 80

# Print days according to number 1....7

In [15]:
n=int(input("Please enter the number between 1 to 7:"))
if n==1:
    print("Monday")
elif n==2:
    print("Tuesday")
elif n==3:
    print("Wednesday")
elif n==4:
    print("Thursday")
elif n==5:
    print("Friday")
elif n==6:
    print("Saturday")
elif n==7:
    print("Sunday")
else:
    print("NOt correct enter number")

Please enter the number between 1 to 7:4
Thursday

In [16]:
n=int(input("Please enter the number between 1 to 7:"))
if n==1:
    print("Monday")
elif n==2:
    print("Tuesday")
elif n==3:
    print("Wednesday")
elif n==4:
    print("Thursday")
elif n==5:
    print("Friday")
elif n==6:
    print("Saturday")
elif n==7:
    print("Sunday")
else:
    print("NOt correct enter number")

Please enter the number between 1 to 7:1
Monday

In [17]:
n=int(input("Please enter the number between 1 to 7:"))
if n==1:
    print("Monday")
elif n==2:
    print("Tuesday")
elif n==3:
    print("Wednesday")
elif n==4:
    print("Thursday")
elif n==5:
    print("Friday")
elif n==6:
    print("Saturday")
elif n==7:
    print("Sunday")
else:
    print("NOt correct enter number")

Please enter the number between 1 to 7:85
NOt correct enter number

# 10% bonus if salary is greater than 10000

In [18]:
salary=float(input("Enter salary: "))
if salary>10000:
    bonus=salary*.1
    print("Salary with bonus: ",salary+bonus)
else:
    print("Total salary is ",salary)

Enter salary: 5000
Total salary is  5000.0

In [19]:
salary=float(input("Enter salary: "))
if salary>10000:
    bonus=salary*.1
    print("Salary with bonus: ",salary+bonus)
else:
    print("Total salary is ",salary)

Enter salary: 15000
Salary with bonus:  16500.0

# Eligible for vote

In [20]:
a=int(input("Print age of person: "))
if a>=18:
    print("Eligible for vote")
else:
    print("Minor")

Print age of person: 25
Eligible for vote

In [21]:
a=int(input("Print age of person: "))
if a>=18:
    print("Eligible for vote")
else:
    print("Minor")

Print age of person: 7
Minor

In [22]:
a=int(input("Print age of person: "))
if a>=18:
    print("Eligible for vote")
else:
    print("Minor")

Print age of person: 18
Eligible for vote

# Calculator

In [24]:
a=float(input("Enter first number: "))
n=input("enter operator of + - * / % :  ")
b=float(input("Enter second number: "))
if n=='+':
    print("Sum of number is",a+b)
elif n=='-':
    print("Substract of number is",a-b)
elif n=='*':
    print("Multiplication of number is",a*b)
elif n=='/':
    print("Division of number is",a/b)
elif n=='%':
    print("Modulodivision of number is",a%b)
else:
    print("correct operator")

Enter first number: 52
enter operator of + - * / % :  +
Enter second number: 2
Sum of number is 54.0

In [1]:
a=float(input("Enter first number: "))
n=input("enter operator of + - * / % :  ")
b=float(input("Enter second number: "))
if n=='+':
    print("Sum of number is",a+b)
elif n=='-':
    print("Substract of number is",a-b)
elif n=='*':
    print("Multiplication of number is",a*b)
elif n=='/':
    print("Division of number is",a/b)
elif n=='%':
    print("Modulodivision of number is",a%b)
else:
    print("correct operator")

Enter first number: 25
enter operator of + - * / % :  %
Enter second number: 5
Modulodivision of number is 0.0

# Grade of students

In [2]:
print("Enter 5 subject marks of student in 100 :")
m1=int(input())
m2=int(input())
m3=int(input())
m4=int(input())
m5=int(input())
totalmarks=m1+m2+m3+m4+m5
average=(totalmarks/500)*100
if average>90:
    print("Grade is A")
elif average>75:
    print("Grade is B")
elif  average>65:
    print("Grade is C")
elif  average>50:
    print("Grade is D")
else:
    print("Fail")

Enter 5 subject marks of student in 100 :
85
75
65
95
77
Grade is B

In [1]:
print("Enter 5 subject marks of student in 100 :")
m1=int(input())
m2=int(input())
m3=int(input())
m4=int(input())
m5=int(input())
totalmarks=m1+m2+m3+m4+m5
average=(totalmarks/500)*100
if average>90:
    print("Grade is A")
elif average>75:
    print("Grade is B")
elif  average>65:
    print("Grade is C")
elif  average>50:
    print("Grade is D")
else:
    print("Fail")

Enter 5 subject marks of student in 100 :
55
45
22
55
25
Fail

# Acending order of 3 no.

In [2]:
a=int(input("enter first number: "))
b=int(input("enter second number: "))
c=int(input("enter third number:"))
if a>b:
    a,b=b,a
if a>c:
    a,c=c,a
if b>c:
    b,c=c,b
print(a,b,c)

enter first number: 25
enter second number: 88
enter third number:14
14 25 88

In [3]:
a=int(input("enter first number: "))
b=int(input("enter second number: "))
c=int(input("enter third number:"))
if a>b:
    a,b=b,a
if a>c:
    a,c=c,a
if b>c:
    b,c=c,b
print(a,b,c)

enter first number: 88
enter second number: 25
enter third number:14
14 25 88

# Print months according to 1...12

In [4]:
n=int(input("Enter the number from 1 to 12 for identifying a month: "))
if n==1:
    print("Januvary")
elif n==2:
        print("Februvary")
elif n==3:
    print("March")
elif n==4:
    print("April")
elif n==5:
    print("May")
elif n==6:
    print("June")
elif n==7:
    print("July")
elif n==8:
    print("August")
elif n==9:
    print("September")
elif n==10:
    print("October")
elif n==11:
    print("November")
elif n==12:
    print("December")
else:
    print("Wrong number is select")

Enter the number from 1 to 12 for identifying a month: 5
May

In [5]:
n=int(input("Enter the number from 1 to 12 for identifying a month: "))
if n==1:
    print("Januvary")
elif n==2:
        print("Februvary")
elif n==3:
    print("March")
elif n==4:
    print("April")
elif n==5:
    print("May")
elif n==6:
    print("June")
elif n==7:
    print("July")
elif n==8:
    print("August")
elif n==9:
    print("September")
elif n==10:
    print("October")
elif n==11:
    print("November")
elif n==12:
    print("December")
else:
    print("Wrong number is select")

Enter the number from 1 to 12 for identifying a month: 10
October

In [6]:
n=int(input("Enter the number from 1 to 12 for identifying a month: "))
if n==1:
    print("Januvary")
elif n==2:
        print("Februvary")
elif n==3:
    print("March")
elif n==4:
    print("April")
elif n==5:
    print("May")
elif n==6:
    print("June")
elif n==7:
    print("July")
elif n==8:
    print("August")
elif n==9:
    print("September")
elif n==10:
    print("October")
elif n==11:
    print("November")
elif n==12:
    print("December")
else:
    print("Wrong number is select")

Enter the number from 1 to 12 for identifying a month: 22
Wrong number is select

# Leap year program

In [7]:
n=int(input("Enter an year:"))
if n%4==0:
    print("leap year")
else:
    print("not leap year")

Enter an year:2004
leap year

In [8]:
n=int(input("Enter an year:"))
if n%4==0:
    print("leap year")
else:
    print("not leap year")

Enter an year:2005
not leap year

# Two numbers are equal

In [9]:
a=input("enter the first number")
b=input("enter the second number")
if a==b:
    print("numbers are equal")
else:
    print("numbers are not equal")

enter the first number22
enter the second number22
numbers are equal

In [10]:
a=input("enter the first number")
b=input("enter the second number")
if a==b:
    print("numbers are equal")
else:
    print("numbers are not equal")

enter the first number22
enter the second number45
numbers are not equal